body {
    font-family: sans-serif;
    margin: 20px;
    transition: background-color 0.3s, color 0.3s;
}

/* Light Theme (Default) */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Dark Theme */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

button,
input,
select,
textarea {
    padding: 6px;
    margin: 6px;
}

.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
}